# dbt
dbt_packages/
logs/
target/

# Data files
data/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# OS-specific
.DS_Store

# Credentials
profiles.yml
.env

# Terraform
.terraform/
terraform.tfstate
*.tfstate
*.tfstate.backup
crash.log
.terraform.lock.hcl
